@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
}

.left-container {
  width: 30vh;
  padding: 20px;
  background-color: transparent;
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.left-container h2{
  text-align: center;
}

.flag {
  width: 100;
  height: auto;
  margin-bottom: 20px;
}

.divider {
  width: 2px;
  height:50vh;
  background-color: rgba(0,0,0,0.1);
  margin: auto 20px;

}

.right-container {
  flex: 1;
  background-color: rgb(231, 225, 225);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
  width: 70vh;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
}

.creditos {
  align-self: flex-end;
  margin-top: 200px;
}

.creditos a{
  text-decoration: none;
  color: inherit;
}

.botao-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: -20px;
}

.botao-menu {
  width: 100px;
  border: none;
  color: #000000;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}

#regi:hover {
  background-color: #008000;
  color: #ffffff;
}

#muni:hover {
  background-color: #808080;
  color: #ffffff;
}

.registrar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.registrar input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 30vh;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.container-button-submit {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

.button-submit {
  width: 100px;
  border: none;
  color: #000000;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.button-submit:hover {
  background-color: #008000;
  color: #ffffff;
}

.visualizar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2move {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.botao-containervisu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.botao-pessoa {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.botao-pessoa:hover {
  background-color: #808080;
  transition: background-color .3s ease;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 500px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
}

.button-voltar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-voltar {
  width: 100px;
  border: none;
  color: #000000;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.button-voltar:hover {
  background-color: #808080;
  color: #ffffff;
}

.button-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.button-page {
  width: 200px;
  border: none;
  color: #000000;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}
